name: Test (Legacy)

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: rhysd/action-setup-vim@v1
        with:
          version: v8.2.0000
      - run: vim -Es -Nu test/vimrc -c 'Vader! test/*.vader'
